<ion-header>
    <ion-toolbar style="--background: #FFCB05">
        <ion-buttons slot="start">
            <ion-menu-button style="--color: black"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Trips
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of items" (click)="selectRoute(item)" style="font-size: 13px">
            {{item.number}}<span style="margin-left: 15px;font-weight: bold">{{item.title}}</span>
            <div class="item-note" slot="end">
                <i *ngIf="!item.completed" class="fa fa-circle" style="color: #00a800"></i>
                <i *ngIf="item.completed" class="fa fa-circle" style="color: #a59c9b"></i>
            </div>
        </ion-item>
    </ion-list>
    <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
</ion-content>
