<ion-header>
    <ion-toolbar style="--background: #FFCB05">
        <ion-buttons slot="start">
            <ion-menu-button style="--color: black"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of items" (click)="selectRoute()">
            <!--<ion-icon [name]="item.icon" slot="start"></ion-icon>-->
            <!--<div class="item-note" slot="start">-->
            <!--{{item.number}}-->
            <!--</div>-->
            {{item.number}}<span style="margin-left: 20px;font-weight: bold">{{item.title}}</span>
            <div class="item-note" slot="end">
                {{item.note}}
            </div>
        </ion-item>
    </ion-list>
    <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
</ion-content>
