<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar style="--background: #FFCB05">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">

            <ion-item [routerDirection]="'root'" [routerLink]="'/admin/home'">
              <ion-icon slot="start" [name]="'home'"></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>

            <ion-item [routerDirection]="'root'" [routerLink]="'/admin/list'">
              <ion-icon slot="start" [name]="'list'"></ion-icon>
              <ion-label>
                Trips
              </ion-label>
            </ion-item>

            <ion-item [routerDirection]="'root'" (click)="accLogout()">
              <ion-icon slot="start"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
