<form class="checkout">
  <div class="form-row">
    <label for="card-info">Card Info</label>
    <div id="card-info" #cardInfo></div>

    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>

  <button type="button" (click)="onSubmit()">Pay $777</button>
</form>

<!--<form method="post" ngNoForm action="https://sandbox.payhere.lk/pay/checkout" target="_self">-->
  <!--<input type="hidden" name="merchant_id" value="1212872">    &lt;!&ndash; Replace your Merchant ID &ndash;&gt;-->
  <!--<input type="hidden" name="return_url" value="http://sample.com/return">-->
  <!--<input type="hidden" name="cancel_url" value="http://sample.com/cancel">-->
  <!--<input type="hidden" name="notify_url" value="http://sample.com/notify">-->
  <!--<br><br>Item Details<br>-->
  <!--<input type="text" name="order_id" value="ItemNo12345">-->
  <!--<input type="text" name="items" value="Door bell wireless"><br>-->
  <!--<input type="text" name="currency" value="USD">-->
  <!--<input type="text" name="amount" value="1000">-->
  <!--<br><br>Customer Details<br>-->
  <!--<input type="text" name="first_name" value="Saman">-->
  <!--<input type="text" name="last_name" value="Perera"><br>-->
  <!--<input type="text" name="email" value="samanp@gmail.com">-->
  <!--<input type="text" name="phone" value="0771234567"><br>-->
  <!--<input type="text" name="address" value="No.1, Galle Road">-->
  <!--<input type="text" name="city" value="Colombo">-->
  <!--<input type="hidden" name="country" value="Sri Lanka"><br><br>-->
  <!--<button type="submit" value="Buy Now">Buy Now</button>-->
<!--</form>-->
