<!-- <app-header></app-header> -->


  <!--<app-carousel></app-carousel>-->

<!--================ SERVICES ==============-->
<section id="services" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="page-heading">
          <h2>Our <span>Awesome Services</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit.</p>
        </div><!-- end page-heading -->

        <div class="row">
          <div id="service-blocks">

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="service-block">
                <span><i class="fa fa-coffee"></i></span>
                <h2 class="service-name">Restaurant</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione
                  quis id, tenetur atque blanditiis.</p>
              </div><!-- end service-block -->
            </div><!-- end columns -->

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="service-block">
                <span><i class="fa fa-leaf"></i></span>
                <h2 class="service-name">Spa</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione
                  quis id, tenetur atque blanditiis.</p>
              </div><!-- end service-block -->
            </div><!-- end columns -->

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="service-block">
                <span><i class="fa fa-users"></i></span>
                <h2 class="service-name">Meeting Rooms</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione
                  quis id, tenetur atque blanditiis.</p>
              </div><!-- end service-block -->
            </div><!-- end columns -->

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="service-block">
                <span><i class="fa fa-wifi"></i></span>
                <h2 class="service-name">Free Wifi</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione
                  quis id, tenetur atque blanditiis.</p>
              </div><!-- end service-block -->
            </div><!-- end columns -->
          </div><!-- end service-blocks -->
        </div><!-- end row -->

      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end services -->

<app-footer></app-footer>
