<section id="about" class="section-padding" style="padding-top: 120px">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="page-heading">
          <h2>Our <span>Awesome Services</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit.</p>
        </div><!-- end page-heading -->

        <hr
          style="margin-top: 50px;margin-bottom: 50px;margin-left: 20px;margin-right: 20px;border: 0.5px solid #b8b8b8">

        <div class="row" style="padding: 20px">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12" style="font-size: 25px;color: #86867f">
                Transport Type
              </div>
            </div>
            <div class="row" style="margin-top: 25px;font-weight: bold">
              <div class="col-sm-12">
                Category
              </div>
            </div>
            <div class="row" style="font-weight: bold">
              <div class="col-sm-12">
                <select class="form-control" (change)="changeCategory()" [(ngModel)]="selectedCategory">
                  <option value="Airport">Airport Transfer</option>
                  <option value="Disneyland">Disneyland Transfer</option>
                  <option value="Private">Private Transfer</option>
                </select>
              </div>
            </div>

            <hr
              style="margin-top: 50px;margin-bottom: 50px;margin-left: 20px;margin-right: 20px;border: 0.5px solid #b8b8b8">

            <app-place-book #app_place_book (placeLatLongOut)="setPlaceLatLong($event)"></app-place-book>

          </div>
        </div>

        <hr
          style="margin-top: 50px;margin-bottom: 20px;margin-left: 20px;margin-right: 20px;border: 0.5px solid #b8b8b8">

        <div class="page-heading" style="margin-top: 100px">
          <div class="col-sm-12" style="margin-bottom: 50px">
            <div *ngIf="getRouter().url=='/head/carousel/main'" style="background-color: rgba(255,255,255,0)">
              <a routerLink="/head/carousel/booking" class="btn btn-default btn-lg btn-padding"
                 style="background-color: #FFCB05">Book Now</a>
            </div>
          </div>

        </div><!-- end page-heading -->

          <!--<div class="row">-->
          <!--<div id="service-blocks">-->

          <!--<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">-->
          <!--<div class="service-block">-->
          <!--<span><i class="fa fa-coffee"></i></span>-->
          <!--<h2 class="service-name">Restaurant</h2>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione-->
          <!--quis id, tenetur atque blanditiis.</p>-->
          <!--</div>&lt;!&ndash; end service-block &ndash;&gt;-->
          <!--</div>&lt;!&ndash; end columns &ndash;&gt;-->

          <!--<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">-->
          <!--<div class="service-block">-->
          <!--<span><i class="fa fa-leaf"></i></span>-->
          <!--<h2 class="service-name">Spa</h2>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione-->
          <!--quis id, tenetur atque blanditiis.</p>-->
          <!--</div>&lt;!&ndash; end service-block &ndash;&gt;-->
          <!--</div>&lt;!&ndash; end columns &ndash;&gt;-->

          <!--<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">-->
          <!--<div class="service-block">-->
          <!--<span><i class="fa fa-users"></i></span>-->
          <!--<h2 class="service-name">Meeting Rooms</h2>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione-->
          <!--quis id, tenetur atque blanditiis.</p>-->
          <!--</div>&lt;!&ndash; end service-block &ndash;&gt;-->
          <!--</div>&lt;!&ndash; end columns &ndash;&gt;-->

          <!--<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">-->
          <!--<div class="service-block">-->
          <!--<span><i class="fa fa-wifi"></i></span>-->
          <!--<h2 class="service-name">Free Wifi</h2>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione-->
          <!--quis id, tenetur atque blanditiis.</p>-->
          <!--</div>&lt;!&ndash; end service-block &ndash;&gt;-->
          <!--</div>&lt;!&ndash; end columns &ndash;&gt;-->
          <!--</div>&lt;!&ndash; end service-blocks &ndash;&gt;-->
          <!--</div>&lt;!&ndash; end row &ndash;&gt;-->

        </div><!-- end columns -->
      </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end services -->

<app-footer></app-footer>
