<!-- <app-header></app-header> -->

<div class="flexslider" id="slider">
  <ul class="slides">
    <li class="item-1"></li>
    <li class="item-2"></li>
  </ul><!-- end slides -->

  <div id="hero-main" style="background: url('assets/images/cover/bmw.jpg');background-size: cover">
    <div class="hero-content">
      <div class="text-align">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <!--<span style="color: #ffbf18;font-weight: bold;font-size: 65px">VEHICLES ONLINE</span><span style="font-weight: bold;color: white;font-size: 65px"> 24 x 7</span>-->
              <!--<h3>Enjoy Your Life With Us!</h3>-->
              <div class="hero-text">
                <form>
                  <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                      <a routerLink="/head/bookings" class="btn btn-default btn-lg btn-padding">Book Now</a>
                      <!-- <a href="#" class="btn btn-default btn-lg btn-padding">Channelings</a> -->
                    </div><!-- end columns -->

                  </div><!-- end row -->
                </form>
              </div><!-- end hero text -->
            </div><!-- end col-sm-12 -->
          </div><!-- end row -->
        </div><!-- end container -->
      </div><!-- end text align -->
    </div><!-- end hero content -->
  </div><!-- end hero main -->
</div><!-- end slider -->


<!--=============== ABOUT ===============-->
<section id="about">
  <div class="container">
    <div class="row" id="about-img">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="about-text">
        <h2>About Star Hotel</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit.</p>
        <a href="about.html" class="btn btn-lg btn-padding">View More</a>
      </div><!-- end columns -->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end about -->


<!--=============== BANNER-1 ==============-->
<section id="banner-1" class="banner-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h2>Get 25% off on Any Other Events</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit.</p>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center btn-right">
            <a href="#" class="btn btn-lg btn-padding btn-w-border" id="btn-price">From 99 $</a>
          </div><!-- end columns -->

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center btn-left">
            <a href="#" class="btn btn-lg btn-padding btn-yellow">Book Now</a>
          </div><!-- end columns -->
        </div><!-- end row -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end banner-1 -->


<!--================ SERVICES ==============-->
<section id="services" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="page-heading">
          <h2>Our <span>Awesome Services</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit.</p>
        </div><!-- end page-heading -->

        <div class="row">
          <div id="service-blocks">

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="service-block">
                <span><i class="fa fa-coffee"></i></span>
                <h2 class="service-name">Restaurant</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione
                  quis id, tenetur atque blanditiis.</p>
              </div><!-- end service-block -->
            </div><!-- end columns -->

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="service-block">
                <span><i class="fa fa-leaf"></i></span>
                <h2 class="service-name">Spa</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione
                  quis id, tenetur atque blanditiis.</p>
              </div><!-- end service-block -->
            </div><!-- end columns -->

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="service-block">
                <span><i class="fa fa-users"></i></span>
                <h2 class="service-name">Meeting Rooms</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione
                  quis id, tenetur atque blanditiis.</p>
              </div><!-- end service-block -->
            </div><!-- end columns -->

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="service-block">
                <span><i class="fa fa-wifi"></i></span>
                <h2 class="service-name">Free Wifi</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione
                  quis id, tenetur atque blanditiis.</p>
              </div><!-- end service-block -->
            </div><!-- end columns -->
          </div><!-- end service-blocks -->
        </div><!-- end row -->

        <div class="butn text-center">
          <a href="services.html" class="btn btn-lg btn-padding btn-g-border">More Services</a>
        </div><!-- end butn -->

      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end services -->

<!--============== NEWSLETTER ===============-->
<section *ngIf="isDoctor()" id="newsletter" class="banner-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h2>Our Newsletter</h2>
        <p>Sign up here to receive interesting updates</p>
        <form>
          <div class="form-group">
            <div class="input-group">
              <input type="email" class="form-control input-lg" placeholder="your email id" required />
              <span class="input-group-btn"><button class="btn btn-lg"><i class="fa fa-paper-plane"></i></button></span>
            </div>
          </div>
        </form>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end newsletter -->

<app-footer></app-footer>
