<!--============== NEWSLETTER ===============-->
<section *ngIf="isMainPanel()" id="newsletter" class="banner-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h2>Our Newsletter</h2>
        <p>Sign up here to receive interesting updates</p>
        <form>
          <div class="form-group">
            <div class="input-group">
              <input type="email" class="form-control input-lg" placeholder="your email id" required/>
              <span class="input-group-btn"><button class="btn btn-lg"><i class="fa fa-paper-plane"></i></button></span>
            </div>
          </div>
        </form>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end newsletter -->

<!--========== FOOTER ==========-->
<section>
  <div id="footer-top" class="banner-padding">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-left" id="more-about">
          <h2 class="footer-heading"><span>STAR</span>HOTEL</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit.</p>
          <ul class="social-links list-inline list-unstyled">
            <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
            <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
            <li><a href="#"><span><i class="fa fa-google-plus"></i></span></a></li>
            <li><a href="#"><span><i class="fa fa-pinterest-p"></i></span></a></li>
          </ul>
        </div><!-- end more-about -->

        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 text-left" id="company">
          <h4 class="footer-heading">Company</h4>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Rooms</a></li>
            <li><a href="#">Dinning</a></li>
            <li><a href="#">Staff</a></li>
            <li><a href="#">Blog's</a></li>
          </ul>
        </div><!-- end useful-links -->

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-left" id="f-services">
          <h4 class="footer-heading">Services</h4>
          <ul class="list-unstyled">
            <li><a href="#">Restaurant</a></li>
            <li><a href="#">Spa</a></li>
            <li><a href="#">Meeting Rooms</a></li>
            <li><a href="#">Free Wifi</a></li>
            <li><a href="#">Rooms</a></li>
            <li><a href="#">Food & Drinks</a></li>
          </ul>
        </div><!-- end visit-us -->

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-left" id="contact-us">
          <h4 class="footer-heading">Contact Us</h4>
          <ul class="list-unstyled">
            <li><span><i class="fa fa-map-marker"></i></span>29 Land St, Lorem City, CA</li>
            <li><span><i class="fa fa-phone"></i></span>+00 123 4567</li>
            <li><span><i class="fa fa-envelope"></i></span>info@starhotel.com</li>
          </ul>

        </div><!-- end social-links -->

      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end footer-top -->

  <div id="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="copyright">
          <p>© 2017 <a href="#">StarHotel</a>. All rights reserved.</p>
        </div><!-- end columns -->

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="terms">
          <ul class="list-unstyled list-inline">
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div><!-- end columns -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end footer-bottom -->

</section>
<!--Footer Section Ends-->
