<div class="row" style="border-bottom: 1px solid black;padding: 10px">
  <div class="col-sm-10  col-10" style="border-right: 1px solid black">
    <input type="text" class="form-control" [(ngModel)]="edit_placeDto.place">
  </div>
  <div class="col-sm-2 col-2" style="text-align: center;margin-top: 6px">
    <i class="fa fa-check" style="color: green;cursor: pointer;padding-right: 15px" (click)="addPlace()"></i>
    <i class="fa fa-times" style="color: red;cursor: pointer;padding-left: 15px" (click)="deletePlace()"></i>
  </div>
</div>
