<ion-header>
    <ion-toolbar style="--background: #FFCB05">
        <ion-buttons slot="start">
            <ion-menu-button style="--color: black"></ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: center;padding: 0px">
            Vehicle Rental Software
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="row" style="margin: 10px;margin-top: 60px">
        <div class="col-12" style="font-size: 15px;text-align: center">
            Date : {{currentDate}}
        </div>
    </div>
    <div class="row" style="margin: 30px;margin-top: 50px;border: 2px solid #EABB04;border-radius: 50px">
        <div class="col-12"
             [ngStyle]="{'text-align':' center','font-size':vehicle!=null?'20px':'15px','padding':'10px'}">
            <span style="font-weight: bold;margin-right: 5px">Vehicle : </span>{{vehicle!=null?vehicle.id:'No vehicle has been assigned'}}
        </div>
    </div>
    <div class="row" style="margin: 10px;margin-top: 100px">
        <div class="col-12" style="font-size: 14px">
            <span style="font-weight: bold;margin-right: 5px">Vehicle Model : </span>{{vehicle!=null?vehicle.vehicleName:'No vehicle has been assigned'}}
        </div>
    </div>
    <div class="row" style="margin: 10px;margin-top: 30px">
        <div class="col-12" style="font-size: 14px">
            <span style="font-weight: bold;margin-right: 5px">Vehicle Category : </span>{{vehicle!=null?vehicle.vehicleCategory:'No vehicle has been assigned'}}
        </div>
    </div>
    <div class="row" style="margin: 10px;margin-top: 30px">
        <div class="col-12" style="font-size: 14px">
            <span style="font-weight: bold;margin-right: 5px">Total Passengers : </span>{{vehicle!=null?vehicle.vehicleTotalPassengers:'No vehicle has been assigned'}}
        </div>
    </div>
</ion-content>

<!--<ion-content>-->
<!--<ion-card class="welcome-card">-->
<!--<img src="/assets/shapes.svg" alt="" />-->
<!--<ion-card-header>-->
<!--<ion-card-subtitle>Get Started</ion-card-subtitle>-->
<!--<ion-card-title>Welcome to Ionic</ion-card-title>-->
<!--</ion-card-header>-->
<!--<ion-card-content>-->
<!--<p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>-->
<!--</ion-card-content>-->
<!--</ion-card>-->
<!--<ion-list lines="none">-->
<!--<ion-list-header>-->
<!--<ion-label>Resources</ion-label>-->
<!--</ion-list-header>-->
<!--<ion-item href="https://ionicframework.com/docs/">-->
<!--<ion-icon slot="start" color="medium" name="book"></ion-icon>-->
<!--<ion-label>Ionic Documentation</ion-label>-->
<!--</ion-item>-->
<!--<ion-item href="https://ionicframework.com/docs/building/scaffolding">-->
<!--<ion-icon slot="start" color="medium" name="build"></ion-icon>-->
<!--<ion-label>Scaffold Out Your App</ion-label>-->
<!--</ion-item>-->
<!--<ion-item href="https://ionicframework.com/docs/layout/structure">-->
<!--<ion-icon slot="start" color="medium" name="grid"></ion-icon>-->
<!--<ion-label>Change Your App Layout</ion-label>-->
<!--</ion-item>-->
<!--<ion-item href="https://ionicframework.com/docs/theming/basics">-->
<!--<ion-icon slot="start" color="medium" name="color-fill"></ion-icon>-->
<!--<ion-label>Theme Your App</ion-label>-->
<!--</ion-item>-->
<!--</ion-list>-->
<!--</ion-content>-->
