<div class="row">
  <div class="col-sm-12">

    <div class="row" style="margin-bottom: 10px">
      <div class="col-sm-12" style="font-size: 25px;color: #86867f">
        Vehicles
      </div>
    </div>
    <div class="row" style="margin-top: 25px;font-weight: bold">
      <div class="col-sm-12">
        Category
      </div>
    </div>
    <div class="row" style="font-weight: bold;margin-bottom: 40px">
      <div class="col-sm-12">
        <select class="form-control" (change)="changeCategory()" [(ngModel)]="selectedCategory">
          <option value="airport">Airport Transfer</option>
          <option value="disneyland">Disneyland Transfer</option>
          <option value="inland">Inland Transfer</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row"
             style="border-bottom: 1px solid black;border-top: 1px solid black;font-weight: bold;padding: 10px">
          <div class="col-sm-11" style="border-right: 1px solid black">
            Vehicle
          </div>
          <div class="col-sm-1" style="text-align: center">
            Edit
          </div>
        </div>
        <ng-container>
          <!--<app-fixed-place></app-fixed-place>-->
          <!--<app-edit-place></app-edit-place>-->
        </ng-container>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;text-align: center">
      <div class="col-sm-12">
        <i class="fa fa-plus" style="padding: 12px;border-radius: 100px;background-color: #eabb04;cursor: pointer"></i>
      </div>
    </div>
  </div>
</div>
