<div class="row" style="border-bottom: 1px solid black;padding: 10px">
  <div class="col-sm-10 col-10" style="border-right: 1px solid black">
    <div class="row" style="padding-right: 10px">
      <div class="col-3" style="font-weight: bold">
        Driver's Name :
      </div>
      <div class="col-9">
        {{fixed_driverDto.driver.driverName}}
      </div>
      <div class="col-3" style="font-weight: bold">
        Driver's Contact Number :
      </div>
      <div class="col-9">
        {{fixed_driverDto.driver.driverContactNumber}}
      </div>
      <div class="col-3" style="font-weight: bold">
        Driver's Email Address :
      </div>
      <div class="col-9">
        {{fixed_driverDto.driver.driverEmail}}
      </div>
      <div class="col-3" style="font-weight: bold;margin-top: 10px">
        Driver's Vehicle :
      </div>
      <div class="col-9" style="margin-top: 5px">
        <select name="" class="form-control" [(ngModel)]="fixed_driverDto.driver.vehicle" (change)="updateVehicleOrPresent()">
          <option *ngFor="let vehicle of fixed_driverDto.vehicles" [ngValue]="vehicle">{{vehicle.vehicleName}}</option>
        </select>
      </div>
      <div class="col-3" style="font-weight: bold;margin-top: 10px">
        Driver is present :
      </div>
      <div class="col-9" style="margin-top: 5px">
        <select name="" class="form-control" [(ngModel)]="fixed_driverDto.driver.driverPresent" (change)="updateVehicleOrPresent()">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-2 col-2" style="text-align: center;font-size: 20px;margin-top: 55px">
    <i class="fa fa-pencil" style="color: #866006;cursor: pointer" (click)="editDriver()"></i>
  </div>
</div>
