<div class="row" style="border-bottom: 1px solid black;padding: 10px;padding-top: 20px;padding-bottom: 20px">
  <div class="col-sm-10 col-10" style="border-right: 1px solid black">
    <div class="row" style="padding-right: 10px">
      <div class="col-3" style="font-weight: bold;color: #866006">
        Driver's ID :
      </div>
      <div class="col-9" style="font-weight: bold;color: #866006">
        {{fixed_driverDto.driver.id}}
      </div>
      <div class="col-3" style="font-weight: bold">
        Driver's Name :
      </div>
      <div class="col-9">
        {{fixed_driverDto.driver.driverName}}
      </div>
      <div class="col-3" style="font-weight: bold">
        Driver's Contact Number :
      </div>
      <div class="col-9">
        {{fixed_driverDto.driver.driverContactNumber}}
      </div>
      <div class="col-3" style="font-weight: bold">
        Driver's Email Address :
      </div>
      <div class="col-9">
        {{fixed_driverDto.driver.driverEmail}}
      </div>
      <div class="col-3" style="font-weight: bold">
        Driver's Vehicle :
      </div>
      <div class="col-9">
        {{fixed_driverDto.driver.driverVehicles[0].vehicle!=null?fixed_driverDto.driver.driverVehicles[0].vehicle.vehicleName:"No vehicle assigned"}}
      </div>
      <div class="col-3" style="font-weight: bold">
        Driver is present (Today) :
      </div>
      <div class="col-9">
        <!--<select name="" class="form-control" [(ngModel)]="fixed_driverDto.driver.driverPresent" (change)="updateVehicleOrPresent()">-->
          <!--<option value="true">Yes</option>-->
          <!--<option value="false">No</option>-->
        <!--</select>-->
        {{fixed_driverDto.driver.driverPresent?"Present":"No"}}
      </div>
    </div>
  </div>
  <div class="col-sm-2 col-2" style="text-align: center;font-size: 18px;margin-top: 50px">
    <i class="fa fa-pencil btnEdit" style="color: #866006;cursor: pointer" (click)="editDriver()"><span style="padding-left: 10px">Edit</span></i>
  </div>
</div>

<style>
  .btnEdit:hover {
    font-size: 20px;
  }
</style>
