<div class="row" style="margin-top: 50px">
  <!--<agm-map style="height: 400px">-->
  <!--&lt;!&ndash;<agm-marker [latitude]="6.053519" [longitude]="80.220978"></agm-marker>&ndash;&gt;-->
  <!--&lt;!&ndash;<agm-marker [latitude]="6.927079" [longitude]="79.861244"></agm-marker>&ndash;&gt;-->
  <!--&lt;!&ndash;<agm-direction [origin]="{ lat: 6.053519, lng: 80.220978 }"&ndash;&gt;-->
  <!--&lt;!&ndash;[destination]="{ lat: 6.927079, lng: 79.861244 }"&ndash;&gt;-->
  <!--&lt;!&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;</agm-direction>&ndash;&gt;-->
  <!--<ng-container>-->
  <!--<agm-polyline *ngFor="let polyline of polylines"  [strokeColor]="polyline.strokeColor">-->
  <!--<agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude">-->
  <!--</agm-polyline-point>-->
  <!--</agm-polyline>-->
  <!--</ng-container>-->
  <!--</agm-map>-->
  <div id="map" style="height: 450px"></div>
</div>
